<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Login - HR Management System</title>
  <link rel="stylesheet" href="../../style/login.css" />
  <link rel="icon" href="../../images/assets/logo.png" />
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css" />
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
  <script type="module" src="../../js/login.js"></script>
  <script type="module" src="../../js/particles.js"></script>
 
</head>

<body>
 
  <div id="particles"></div>
  <div class="geometric-pattern"></div>
  <header></header>

  <div class="login-container">
    <div class="top-login">
<img src="../../images/assets/login-logo.png" alt="Company Logo" />
    <h2>Hyacinth</h2>
      <h4>Human Resource Management System</h4>
    </div>
    

    <form onsubmit="return login()">
      <div class="email-container">
        <p>Email</p>
        <input type="text" id="email" placeholder="Email or Username" autofocus />
      </div>

      <div class="password-container">
        <p>Password</p>
        <input type="password" id="password" placeholder="Enter Password" />
        <p class="forgot">
          <a href="#" id="forgot-password">Forgot Password?</a>
        </p>
      </div>

      <div class="button-container">
        <button type="submit">Login</button>
        <p>
          Don't have an account?
          <a href="register.html"><span>Register</span></a>
        </p>
      </div>
    </form>
  </div>


</body>
</html>